pipeline/pl_entity_load.json
{
	"name": "pl_entity_load",
	"properties": {
		"activities": [
			{
				"name": "Get Entity Metadata",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "src_csv",
						"type": "DatasetReference",
						"parameters": {
							"fileName": {
								"value": "@concat(toLower(pipeline().parameters.EntityName),'.csv')",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"structure",
						"itemName"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Validate Metadata",
				"type": "AzureFunctionActivity",
				"dependsOn": [
					{
						"activity": "Get Entity Metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"functionName": "dataValidationApi",
					"method": "POST",
					"headers": {
						"EntityName": {
							"value": "@if(startswith(activity('Get Entity Metadata').output.itemName,'salesterritory'),'Sales Territory',if(startswith(activity('Get Entity Metadata').output.itemName,'customers'),'Customer','Order'))",
							"type": "Expression"
						}
					},
					"body": {
						"value": "@replace(concat('[',join(activity('Get Entity Metadata').output.structure,','),']'),'\\','')",
						"type": "Expression"
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_af_datavalidation",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Check Validation Error",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Validate Metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('Validate Metadata').output.Satus == 'Error'",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Copy to Stage",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "src_csv",
									"type": "DatasetReference",
									"parameters": {
										"fileName": {
											"value": "@concat(toLower(pipeline().parameters.EntityName),'.csv')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "dst_parquet",
									"type": "DatasetReference",
									"parameters": {
										"fileName": {
											"value": "@concat(toLower(pipeline().parameters.EntityName),'.parquet')",
											"type": "Expression"
										}
									}
								}
							]
						}
					],
					"ifTrueActivities": [
						{
							"name": "Log Error_copy1",
							"type": "DatabricksNotebook",
							"dependsOn": [
								{
									"activity": "Set Error variable_copy1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/hub/logError",
								"baseParameters": {
									"ErrorMessage": {
										"value": "@variables('loadError')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "adb_etl",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Set Error variable_copy1",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "loadError",
								"value": {
									"value": "@concat('{\"Entity\" :\"Sales.',pipeline().parameters.EntityName,'\"', '\"ErrorMessage\": \"',activity('Validate Metadata').output.Message,'\"}')",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"EntityName": {
				"type": "string",
				"defaultValue": "salesterritory"
			}
		},
		"variables": {
			"EntityMetadata": {
				"type": "String"
			},
			"loadError": {
				"type": "String"
			}
		},
		"folder": {
			"name": "HUB"
		},
		"annotations": []
	}
}