pipeline/pl_entity_load.json
{
	"name": "pl_entity_load",
	"properties": {
		"activities": [
			{
				"name": "Get Territory Metadata",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "src_csv",
						"type": "DatasetReference",
						"parameters": {
							"fileName": "salesterritory.csv"
						}
					},
					"fieldList": [
						"structure",
						"itemName"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Validate Metadata",
				"type": "AzureFunctionActivity",
				"dependsOn": [
					{
						"activity": "Get Territory Metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"functionName": "dataValidationApi",
					"method": "POST",
					"headers": {
						"EntityName": {
							"value": "@if(startswith(activity('Get Territory Metadata').output.itemName,'salesterritory'),'Sales Territory','Customer')",
							"type": "Expression"
						}
					},
					"body": {
						"value": "@replace(concat('[',join(activity('Get Territory Metadata').output.structure,','),']'),'\\','')",
						"type": "Expression"
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_af_datavalidation",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"TerritoryMetadata": {
				"type": "Array"
			},
			"EntityMetadata": {
				"type": "String"
			}
		},
		"folder": {
			"name": "HUB"
		},
		"annotations": []
	}
}