pipeline/pl_entity_load.json
{
	"name": "pl_entity_load",
	"properties": {
		"activities": [
			{
				"name": "Get Entity Metadata",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "src_csv",
						"type": "DatasetReference",
						"parameters": {
							"fileName": {
								"value": "@concat(toLower(pipeline().parameters.EntityName),'.csv')",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"structure",
						"itemName"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Validate Metadata",
				"type": "AzureFunctionActivity",
				"dependsOn": [
					{
						"activity": "Get Entity Metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"functionName": "dataValidationApi",
					"method": "POST",
					"headers": {
						"EntityName": {
							"value": "@if(startswith(activity('Get Entity Metadata').output.itemName,'salesterritory'),'Sales Territory','Customer')",
							"type": "Expression"
						}
					},
					"body": {
						"value": "@replace(concat('[',join(activity('Get Entity Metadata').output.structure,','),']'),'\\','')",
						"type": "Expression"
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_af_datavalidation",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Copy to Stage",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Validate Metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "src_csv",
						"type": "DatasetReference",
						"parameters": {
							"fileName": {
								"value": "@concat(toLower(pipeline().parameters.EntityName),'.csv')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "dst_parquet",
						"type": "DatasetReference",
						"parameters": {
							"fileName": {
								"value": "@concat(toLower(pipeline().parameters.EntityName),'.parquet')",
								"type": "Expression"
							}
						}
					}
				]
			}
		],
		"parameters": {
			"EntityName": {
				"type": "string"
			}
		},
		"variables": {
			"TerritoryMetadata": {
				"type": "Array"
			},
			"EntityMetadata": {
				"type": "String"
			}
		},
		"folder": {
			"name": "HUB"
		},
		"annotations": []
	}
}