pipeline/pl_sales_initalLoad_orchestration_apivalidation.json
{
	"name": "pl_sales_initalLoad_orchestration_apivalidation",
	"properties": {
		"activities": [
			{
				"name": "Get Territory Metadata",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "src_csv",
						"type": "DatasetReference",
						"parameters": {
							"fileName": "salesterritory.csv"
						}
					},
					"fieldList": [
						"structure",
						"itemName"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Azure Function1",
				"type": "AzureFunctionActivity",
				"dependsOn": [
					{
						"activity": "Set Metadata Variable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"functionName": "dataValidationApi",
					"method": "POST",
					"body": {
						"value": "@concat(activity('Get Territory Metadata').output.itemName,activity('Get Territory Metadata').output.structure)",
						"type": "Expression"
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_af_datavalidation",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Set Metadata Variable",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get Territory Metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "EntityMetadata",
					"value": {
						"value": "@join(activity('Get Territory Metadata').output.structure,'')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"TerritoryMetadata": {
				"type": "Array"
			},
			"EntityMetadata": {
				"type": "String"
			}
		},
		"folder": {
			"name": "HUB"
		},
		"annotations": []
	}
}