pipeline/pl_sales_initalLoad_orchestration.json
{
	"name": "pl_sales_initalLoad_orchestration",
	"properties": {
		"activities": [
			{
				"name": "copy customers",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "CustomerID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "CustomerID",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "TerritoryID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "TerritoryID",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "AccountNumber",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "AccountNumber",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "FirstName",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "FirstName",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "LastName",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "LastName",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Title",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Title",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "PhoneNumber",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "PhoneNumber",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "EmailAddress",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "EmailAddress",
									"type": "String",
									"physicalType": "UTF8"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "src_csv",
						"type": "DatasetReference",
						"parameters": {
							"fileName": "customers.csv"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "dst_parquet",
						"type": "DatasetReference",
						"parameters": {
							"fileName": "customers.parquet"
						}
					}
				]
			},
			{
				"name": "copy orders",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "SalesOrderID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "SalesOrderID",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "OrderDate",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "OrderDate",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "DueDate",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "DueDate",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "ShipDate",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ShipDate",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Status",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Status",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "SalesOrderNumber",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "SalesOrderNumber",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "AccountNumber",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "AccountNumber",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "CustomerID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "CustomerID",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "TerritoryID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "TerritoryID",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "SubTotal",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "SubTotal",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "TaxAmt",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "TaxAmt",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Freight",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Freight",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "TotalDue",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "TotalDue",
									"type": "String",
									"physicalType": "UTF8"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "src_csv",
						"type": "DatasetReference",
						"parameters": {
							"fileName": "orders.csv"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "dst_parquet",
						"type": "DatasetReference",
						"parameters": {
							"fileName": "orders.parquet"
						}
					}
				]
			},
			{
				"name": "copy territory",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "TerritoryID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "TerritoryID",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Name",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Name",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "CountryRegionCode",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "CountryRegionCode",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Group",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Group",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "SalesYTD",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "SalesYTD",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "SalesLastYear",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "SalesLastYear",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "CostYTD",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "CostYTD",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "CostLastYear",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "CostLastYear",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "rowguid",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "rowguid",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "ModifiedDate",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ModifiedDate",
									"type": "String",
									"physicalType": "UTF8"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "src_csv",
						"type": "DatasetReference",
						"parameters": {
							"fileName": "salesterritory.csv"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "dst_parquet",
						"type": "DatasetReference",
						"parameters": {
							"fileName": "salesterritory.parquet"
						}
					}
				]
			},
			{
				"name": "Set Error variable",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "copy territory",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "loadError",
					"value": {
						"value": "contact(\"Error\",\"Test\")",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Log Error",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Set Error variable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/hub/logError",
					"baseParameters": {
						"ErrorMessage": {
							"value": "@variables('loadError')",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "adb_etl",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"loadErrorObject": {
				"type": "Array"
			},
			"loadError": {
				"type": "String"
			}
		},
		"folder": {
			"name": "HUB"
		},
		"annotations": []
	}
}