adfdello/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adfdello"
		},
		"SalesforceServiceCloud1_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'SalesforceServiceCloud1'"
		},
		"SalesforceServiceCloud1_securityToken": {
			"type": "secureString",
			"metadata": "Secure string for 'securityToken' of 'SalesforceServiceCloud1'"
		},
		"SalesforceServiceCloud2_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'SalesforceServiceCloud2'"
		},
		"SalesforceServiceCloud2_securityToken": {
			"type": "secureString",
			"metadata": "Secure string for 'securityToken' of 'SalesforceServiceCloud2'"
		},
		"mysqlcon_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'mysqlcon'"
		},
		"sqlDB_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'sqlDB'"
		},
		"SalesforceServiceCloud1_properties_typeProperties_environmentUrl": {
			"type": "string",
			"defaultValue": "https://tau-ac--pardot.my.salesforce.com/"
		},
		"SalesforceServiceCloud1_properties_typeProperties_username": {
			"type": "string",
			"defaultValue": "bi@tau.ac.il.snd"
		},
		"SalesforceServiceCloud2_properties_typeProperties_environmentUrl": {
			"type": "string",
			"defaultValue": "https://tau-ac--pardot.my.salesforce.com/"
		},
		"SalesforceServiceCloud2_properties_typeProperties_username": {
			"type": "string",
			"defaultValue": "bi@tau.ac.il.snd"
		},
		"adls_dl_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://adlsgen2del.dfs.core.windows.net"
		},
		"akv_global_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://rituvault.vault.azure.net/"
		},
		"storageblob_properties_typeProperties_sasUri_secretName": {
			"type": "string",
			"defaultValue": "blobsas"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/SalesforceServiceCloud1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SalesforceServiceCloud",
				"typeProperties": {
					"environmentUrl": "[parameters('SalesforceServiceCloud1_properties_typeProperties_environmentUrl')]",
					"username": "[parameters('SalesforceServiceCloud1_properties_typeProperties_username')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('SalesforceServiceCloud1_password')]"
					},
					"securityToken": {
						"type": "SecureString",
						"value": "[parameters('SalesforceServiceCloud1_securityToken')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SalesforceServiceCloud2')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SalesforceServiceCloud",
				"typeProperties": {
					"environmentUrl": "[parameters('SalesforceServiceCloud2_properties_typeProperties_environmentUrl')]",
					"username": "[parameters('SalesforceServiceCloud2_properties_typeProperties_username')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('SalesforceServiceCloud2_password')]"
					},
					"securityToken": {
						"type": "SecureString",
						"value": "[parameters('SalesforceServiceCloud2_securityToken')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/adls_dl')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('adls_dl_properties_typeProperties_url')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/akv_global')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('akv_global_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/HourlySchedule')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Minute",
						"interval": 1,
						"startTime": "2020-08-28T05:17:00Z",
						"timeZone": "UTC"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/integrationRuntime1')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_parq_gene_raw')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "adls_dl",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Destinations"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "gene",
						"folderPath": {
							"value": "raw/{year}/{month}/{day}/{hour}/",
							"type": "Expression"
						},
						"fileSystem": "datalake"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/adls_dl')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_parq_raw')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "adls_dl",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"year": {
						"type": "string",
						"defaultValue": "2020"
					},
					"month": {
						"type": "string",
						"defaultValue": "08"
					},
					"day": {
						"type": "string",
						"defaultValue": "28"
					},
					"entityName": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Destinations"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "gene",
						"folderPath": {
							"value": "@concat('raw/',dataset().entityName,'/',dataset().year,'/',dataset().month,'/',dataset().day)",
							"type": "Expression"
						},
						"fileSystem": "datalake"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/adls_dl')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_stock_src')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "adls_dl",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Data sources"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "*.csv",
						"folderPath": "stock/*/2021/04/13",
						"fileSystem": "stage"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Date",
						"type": "String"
					},
					{
						"name": "Symbol",
						"type": "String"
					},
					{
						"name": "Series",
						"type": "String"
					},
					{
						"name": "Prev Close",
						"type": "String"
					},
					{
						"name": "Open",
						"type": "String"
					},
					{
						"name": "High",
						"type": "String"
					},
					{
						"name": "Low",
						"type": "String"
					},
					{
						"name": "Last",
						"type": "String"
					},
					{
						"name": "Close",
						"type": "String"
					},
					{
						"name": "VWAP",
						"type": "String"
					},
					{
						"name": "Volume",
						"type": "String"
					},
					{
						"name": "Turnover",
						"type": "String"
					},
					{
						"name": "Trades",
						"type": "String"
					},
					{
						"name": "Deliverable Volume",
						"type": "String"
					},
					{
						"name": "%Deliverble",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/adls_dl')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/adb_etl')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-4979278838401978.18.azuredatabricks.net",
					"accessToken": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "akv_global",
							"type": "LinkedServiceReference"
						},
						"secretName": "dbricks"
					},
					"existingClusterId": "0729-082332-bulge583"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/akv_global')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/mysqlcon')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureMySql",
				"typeProperties": {
					"connectionString": "[parameters('mysqlcon_connectionString')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "akv_global",
							"type": "LinkedServiceReference"
						},
						"secretName": "mysqladmin"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/akv_global')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sqlDB')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('sqlDB_connectionString')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "akv_global",
							"type": "LinkedServiceReference"
						},
						"secretName": "sqladmin"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/akv_global')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/storageblob')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"sasUri": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "akv_global",
							"type": "LinkedServiceReference"
						},
						"secretName": "[parameters('storageblob_properties_typeProperties_sasUri_secretName')]"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/akv_global')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_stock_orchestration')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Validation1",
						"type": "Validation",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_stock_src",
								"type": "DatasetReference",
								"parameters": {}
							},
							"timeout": "1.00:00:00",
							"sleep": 10
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_stock_src')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_gene_dest')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "mysqlcon",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Destinations"
				},
				"annotations": [],
				"type": "AzureMySqlTable",
				"schema": [],
				"typeProperties": {
					"tableName": "gene"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/mysqlcon')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_gene_src')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "storageblob",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Data sources"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "gene.csv",
						"container": "tau"
					},
					"columnDelimiter": ";",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/storageblob')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_geneattrib_dest')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "mysqlcon",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Destinations"
				},
				"annotations": [],
				"type": "AzureMySqlTable",
				"schema": [
					{
						"name": "gene_id",
						"type": "int",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "attrib_type_id",
						"type": "int",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "value",
						"type": "text",
						"precision": 0,
						"scale": 0
					}
				],
				"typeProperties": {
					"tableName": "geneattrib"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/mysqlcon')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_geneattrib_src')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "storageblob",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Data sources"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "geneattrib.csv",
						"container": "tau"
					},
					"columnDelimiter": ";",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/storageblob')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_mysql_src')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "mysqlcon",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"tableName": {
						"type": "string",
						"defaultValue": "gene"
					}
				},
				"folder": {
					"name": "Data sources"
				},
				"annotations": [
					"azure mysql genome database"
				],
				"type": "AzureMySqlTable",
				"schema": [],
				"typeProperties": {
					"tableName": {
						"value": "@dataset().tableName",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/mysqlcon')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_genome_orchestration')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "cp_extractdata_gene",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "EntityName",
								"value": "gene"
							}
						],
						"typeProperties": {
							"source": {
								"type": "AzureMySqlSource",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_mysql_src",
								"type": "DatasetReference",
								"parameters": {
									"tableName": "gene"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_parq_raw",
								"type": "DatasetReference",
								"parameters": {
									"year": "2020",
									"month": "08",
									"day": "28",
									"entityName": "gene"
								}
							}
						]
					},
					{
						"name": "cp_extractdata_biotype",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "EntityName",
								"value": "biotype"
							}
						],
						"typeProperties": {
							"source": {
								"type": "AzureMySqlSource",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_mysql_src",
								"type": "DatasetReference",
								"parameters": {
									"tableName": "biotype"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_parq_raw",
								"type": "DatasetReference",
								"parameters": {
									"year": "2020",
									"month": "08",
									"day": "28",
									"entityName": "biotype"
								}
							}
						]
					},
					{
						"name": "cp_extractdata_geneattrib",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "EntityName",
								"value": "geneattrib"
							}
						],
						"typeProperties": {
							"source": {
								"type": "AzureMySqlSource",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_mysql_src",
								"type": "DatasetReference",
								"parameters": {
									"tableName": "geneattrib"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_parq_raw",
								"type": "DatasetReference",
								"parameters": {
									"year": "2020",
									"month": "08",
									"day": "28",
									"entityName": "geneattrib"
								}
							}
						]
					},
					{
						"name": "adb_kitchen",
						"description": "store genome datasets into Hive tables ",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "cp_extractdata_gene",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "cp_extractdata_geneattrib",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "cp_extractdata_biotype",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Genome/KitchenLayer"
						},
						"linkedServiceName": {
							"referenceName": "adb_etl",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "adb_servinglayer",
						"description": "Transform data into Data Lake in a dimensional model for serving from Power BI",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "adb_kitchen",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Genome/KitchenLayer"
						},
						"linkedServiceName": {
							"referenceName": "adb_etl",
							"type": "LinkedServiceReference"
						}
					}
				],
				"concurrency": 1,
				"annotations": [],
				"lastPublishTime": "2020-08-28T08:49:32Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_mysql_src')]",
				"[concat(variables('factoryId'), '/datasets/ds_parq_raw')]",
				"[concat(variables('factoryId'), '/linkedServices/adb_etl')]"
			]
		}
	]
}